.parallax-bg {
  width: 100%;
  height: 500px;
  background-image: url('./img/parralax.webp');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.big-block {
  width: 100%;
  height: 300px;
}

.personal-stats {
  width: 1140px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 0;

  .card-img1 {
    background-image: url('./img/indicators_contr.png');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    margin: 15px 15px;
  }
}

.stats-card {
  width: 250px;
  height: 100px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  color: #fff;
}

.main-acc-container {
  width: 1170px;
  min-height: 200px;
  position: relative;
  background-color: #fff;
  top: -200px;
  margin: 0 auto;
  box-shadow: 5px 5px 15px rgba(117, 117, 117, 0.76);

  .personal-info {
    position: absolute;
    top: -110px;
    left: 0px;
    margin-left: 20px;
    width: 260px;

    .personal-photo {
      width: 220px;
      height: 220px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 5px rgb(160, 160, 160);
      display: flex;
      justify-content: center;
      align-items: center;

      .photo-container {
        width: 200px;
        height: 200px;
        background-image: url('./img/acc-photo.webp');
        background-size: contain;
      }

      .photo-changer {
        position: absolute;
        bottom: 40px;
        background-color: #fff;
        border: 1px solid black;
        padding: 5px 10px;
        border-radius: 10px;
        transition: 0.3s all ease;

        &:hover {
          background-color: black;
          color: white;
        }
      }
    }

    .personal-name {
      width: 220px;
      height: 50px;
      border-radius: 10px;
      text-align: center;
      font-size: 2rem;
      padding-top: 10px;
    }
  }

  .personal-field {
    width: 800px;
    height: 600px;
    position: absolute;
    left: 350px;
    top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    background-color: rgba(102, 102, 102, 0.692);
  }
}

.profile-acc-container{
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

.table-races {
  width: 700px;

  border: 1px solid black;
  padding: 10px 10px;
  overflow-y: hidden;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__time {
    width: 30%;
    margin-left: 10px;
    background-color: rgba(209, 46, 46, 0.404);
    text-align: center;
  }

  &__status {
    width: 20%;
    background-color: rgba(255, 255, 255, 0.404);
    text-align: center;
  }

  &__text {
    width: 50%;
    background-color: rgba(209, 46, 46, 0.404);
    text-align: center;
  }
}
