.page {
  display: flex;
  flex-direction: column;
  position: relative;

  &__header {
    z-index: 1;
  }

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 0 auto;
  }

  &__welcome {
    width: 100%;
  }

  &__messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    top: 65px;
    position: absolute;
  }

  &__load {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:100px;
    height:100px;

    & hr {
      border:0;
      margin:0;
      width:40%;
      height:40%;
      position:absolute;
      border-radius:50%;
      animation:spin 2s ease infinite;

      &:first-child {
        background:#19A68C;
        animation-delay:-1.5s;
      }

      &:nth-child(2) {
        background:#F63D3A;
        animation-delay:-1s;
      }

      &:nth-child(3) {
        background:#FDA543;
        animation-delay:-0.5s;
      }

      &:last-child {
        background:#193B48;
      }
    }
  }
}

@keyframes spin {
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}
