@import '../../variables';


.login-container {
  width: 500px;
  height: 300px;
  background-color: gray;
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

.login-nav {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.login-btn,
.registration-btn {
  width: 50%;
  height: 100%;
  border: none;
  transition: 0.4s ease-in all;
}

.inputs{
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}

.login-inputs,
.registration-inputs{
  height: 250px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.4s ease-in all;
}

.login-putter,
.registration-putter {
  width: 100px;
  height: 50px;
}


